# Virtual environment
venv/
.venv/
.venv_*/
.venv-*/

# Python cache
__pycache__/
*.pyc

# Test data fetcher
scripts/jira_test_data_fetcher/.env
scripts/config_test_data_generator/.env
tests/test_data/json/*.json
tests/test_data/yaml/*.yaml